* {
  background: rgb(84, 115, 142);
}

h1 {
  display: flex;
  justify-content: center;
  color: #D8F2FF;
}

.p1 {
  display: flex;
  justify-content: center;
  color: #B2A68D;
}

.addDeck {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 15px;
}

.textBox {
  background-color: #82AC7C;
  border-radius: 5px;
  height: 25px;
  margin-right: 8px;
}

.addButton {
  background-color: #9DBA94;
  border-radius: 5px;
}

.deck {
  background-color: #A88C7D;
  padding: 10px;
  margin-right: 10px;
  display: inline-grid;
  border-radius: 5px;
}

.cardImg {
  background-color: #A88C7D;
  padding: 8px 5px 3px 5px;
  display: flex;
  justify-content: center;
}

.deckButtonsContainer {
  background-color: #A88C7D;
}

.deckButtons {
  border-radius: 5px;
  margin: 10px;
  background-color: #9DBA94
}


/* #7297A0 - gray/blue
   #54738E - darker blue
   #82AC7C - brighter green
   #9DBA94 - sage
   #A88C7D - red/brown 
   #B2A68D - more brown*/